@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;800&family=Raleway:wght@100;400;800&display=swap');

$primary-font: "Lato";
$secondary-font: "Raleway";
$root-font-size: 16px;

$text2Xl: 3.625rem;
$textXl: 2.375rem;
$textLg: 1.375rem;
$textMd: 1.125rem;
$textSm: 1rem;
$textXs: 0.875rem;

$lh2Xl: 3.937rem;
$lhXl: 2.5rem;
$lhLg: 1.687rem;
$lhMd: 1.687rem;
$lhSm: 1.5rem;
$lhXs: 1.562rem;

$btnSm: 1.25rem;